NODE_ENV=production
BIND_HOST=127.0.0.1
PORT=3000
PUBLIC_DOMAIN=recargas.midominio.com
SECRET=CAMBIAR_POR_UNA_LLAVE_DE_64_HEX
BOOTSTRAP_ADMIN_USER=admin
BOOTSTRAP_ADMIN_PASS=admin123456
DIRECT_TLS=false
SSL_CERT_PATH=./certs/cloudflare-origin-cert.pem
SSL_KEY_PATH=./certs/cloudflare-origin-key.pem
