NODE_ENV=production
BIND_HOST=0.0.0.0
PORT=3000
SECRET=CAMBIAR_POR_UNA_LLAVE_DE_64_HEX
APP_ADMIN_KEY=CAMBIAR_POR_KEY_LARGA_APP
BOOTSTRAP_ADMIN_USER=admin
BOOTSTRAP_ADMIN_PASS=admin123456
DIRECT_TLS=false
